<!DOCTYPE html>
<html>
<head>
    <title>Reconocimiento Facial</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Reconocimiento Facial</h1>
        <p class="lead">Interfaz de usuario para el reconocimiento facial.</p>
    </div>
    <img src="{{ url_for('video_feed') }}" />
    <body>
        <h1>Registro de Rostros</h1>
        <form action="/record_face" method="post">
            <label for="numero_identificacion">Número de Identificación:</label>
            <input type="text" id="numero_identificacion" name="numero_identificacion" required>
            <button type="submit">Registrar Rostro</button>
        </form>
        <!-- Agrega cualquier otro contenido necesario aquí -->
    </body>
    </html>
</body>
</html>
